asgiref==3.3.1
astroid==2.5.1
async-lru==1.0.2
certifi==2020.12.5
colorama==0.4.4
Django==3.1.7
isort==5.7.0
lazy-object-proxy==1.5.2
mccabe==0.6.1
nano==0.10.0
psutil==5.8.0
pyaes==1.6.1
pyasn1==0.4.8
pylint==2.7.2
Pyrogram==1.1.13
PySocks==1.7.1
python-telegram-bot==13.3
pytz==2021.1
rsa==4.7.2
six==1.15.0
sqlparse==0.4.1
Telethon==1.20
TgCrypto==1.2.2
toml==0.10.2
tornado==6.1
typed-ast==1.4.2
tzlocal==2.1
wrapt==1.12.1
